/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&none  &kp Q  &kp W  &kp F    &kp P      &kp B      &kp J    &kp L          &kp U      &kp Y    &kp SQT    &none
&none  &kp A  &kp R  &kp S    &kp T      &kp G      &kp M    &kp N          &kp E      &kp I    &kp O      &none
&none  &kp Z  &kp X  &kp C    &kp D      &kp V      &kp K    &kp H          &kp COMMA  &kp DOT  &kp QMARK  &none
                     &kp ESC  &kp SPACE  &kp TAB    &kp RET  &kp BACKSPACE  &kp DEL
            >;
        };
    };
};
